@plugin "@tailwindcss/typography";

@layer base {
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base 
    prose-h3:italic prose-p:!text-skin-base 
    prose-a:!text-skin-base prose-a:!decoration-dashed prose-a:underline-offset-8
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base
    prose-code:rounded prose-code:p-1 prose-code:!text-[#ec489a] 
    prose-pre:!text-skin-base prose-ol:!text-skin-base 
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border 
    prose-td:border-skin-line prose-img:mx-auto 
    prose-img:!mt-2 prose-img:border-2 
    prose-img:border-skin-line prose-hr:!border-skin-line;
  }
  .prose a {
    @apply !text-[#85beff] visited:!text-[#c084fc];
  }
  .prose table {
    @apply block overflow-auto;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    outline: 2px dashed rgb(var(--color-fill));
    outline-offset: 1px;
  }
  .prose summary:focus-visible {
    text-decoration: none;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }
  .prose pre {
    @apply -ml-4 w-screen rounded-none sm:ml-0 sm:w-full sm:rounded-md;
  }
}
