---
import Tag from "./Tag.astro";
import Datetime from "./Datetime";

export interface Props {
  title: string;
  tags: string[];
  datetime: string;
}

const { title, tags, datetime } = Astro.props;
---

<div class="single-header">
  <h1 class="post-title">{title}</h1>
  <ul class="tags-container">
    {tags.map(tag => <Tag name={tag} />)}
  </ul>
  <Datetime datetime={datetime} size="sm" />
</div>
<style>
  .single-header {
    @apply flex w-full flex-col items-center bg-skin-card px-4 py-4 text-center;
  }
  .post-title {
    @apply mb-4 text-2xl font-semibold text-[#fff];
  }
  .tags-container {
    @apply mb-4;
  }
</style>
